@property --num {
	syntax: "<integer>";
	initial-value: 0;
	inherits: false;
}

.counter {
	animation: counter 4.5s ease, fadeOutCounter 0.5s ease 4s forwards;
	counter-reset: num var(--num);
	position: absolute;
	top: 75%;
	font-size: 20px;
	font-family: Orbitron;
}
.counter::after {
	content: counter(num) "%";
}

@keyframes counter {
	0% {
		--num: 0;
		color: white;
	}
	80% {
		--num: 100;
		color: white;
	}
	100% {
		--num: 100;
		color: white;
	}
}
@keyframes fadeOutCounter {
	100% {
		opacity: 0;
	}
}
